*, ::before, ::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 :root {
   font-size: 62.5%;
 }

body {
   font-family: Arial, sans-serif;
   text-align: center;
   background: gray;
   min-width: 25rem;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 0rem auto;
   padding: 2rem;
   max-width: 50rem;
   height: 100vh;
   background: white;
   border: .6rem solid gray;
   border-radius: 1.5rem;
}

.timer {
   font-size: 4rem;
}

button {
   font-size: 2rem;
   padding: 1rem 2rem;
   width: 100%;
}

.saved-time, .penalty-display, .total-display{
   font-size: 2rem;
   margin: 1rem;
}

.penalties {
   display: flex;
   gap:1rem
}